<!DOCTYPE html>
<html>
<head>
    <title>Patient Intake Assistant</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="home-body">

<div class="overlay">

    <div class="home-container">

        <h1>Patient Symptom Intake Assistant</h1>

        <p>
            AI-powered healthcare assistant that collects
            patient symptoms and generates doctor-ready reports.
        </p>

        <div class="buttons">

            <a href="/login">
                <button>Login</button>
            </a>

            <a href="/register">
                <button>Register</button>
            </a>

        </div>

    </div>

</div>

</body>
</html>